@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white-clr: hsl(0, 0%, 100%);
  --light-blue-clr: hsl(212, 45%, 89%);
  --gray-clr: hsl(216, 15%, 48%);
  --dark-blue-clr: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  background-color: var(--light-blue-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#container {
  background-color: var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  max-width: 40%;
}

#qr-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}

img {
  width: 100%;
  border-radius: 1rem;
}

#text {
  text-align: center;
  font-size: 15px;
}

h1 {
  color: var(--dark-blue-clr);
  margin-bottom: 5%;
  font-weight: 700;
}

p {
  color: var(--gray-clr);
  font-weight: 400;
}

/*frontend mentor styles*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
