:root {
  --white-clr: hsl(0, 0%, 100%);
  --light-blue-clr: hsl(212, 45%, 89%);
  --gray-clr: hsl(216, 15%, 48%);
  --dark-blue-clr: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  background-color: var(--light-blue-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#container {
  background-color: var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 150px;
  min-width: 120px;
  width: 50%;
  padding: 0.5em;
  border-radius: 0.5rem;
}

#qr-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

#text {
  text-align: center;
  font-size: 0.5rem;
}

h1 {
  color: var(--dark-blue-clr);
  margin-bottom: 5%;
  font-weight: 700;
}

p {
  color: var(--gray-clr);
  font-weight: 400;
}

/*frontend mentor styles*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
